h1 {color:red;}


.carousel-inner{
    max-width: 90%;
    height: 65%;
    margin-left: 160px;
    margin-top: 60px;
  }
  p {
    color: white;
    width: 500px;
    
    text-align: center;
    margin-left: 400px;
    margin-top: 40px;
    font-size: 20px;
  }

.dash{
  color: blue;
}


  .wid{
    width: 300px;
  }
 .he{
  height: 120px;
 }